header {
  max-width: 100vw;

  flex-basis: 100%;
  background-color: #f9d1d1;

  // Header Styling
  div.headerBar {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 3px solid black;

    img {
      width: 12vh;
      height: 12vh;
    }

    ul {
      display: flex;
      justify-content: flex-end;
      list-style-type: none;
      li {
        padding: 1rem;
        font-size: 26px;
      }
    }
  }
}
