nav {
  max-width: 100vw;
  flex-basis: 100%;
  background-color: #f9d1f4;
  padding: 0.5rem 1rem;

  ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style-type: none;
    align-items: center;

    li {
      font-size: 30px;
      padding: 0.5rem 2rem;
    }
  }
}
