* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

header {
  width: 100vw;
  height: 10vh;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  background-color: #f9d1d1;
}

header div.headerBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 3px solid black;
}

header div.headerBar img {
  width: 10vh;
  height: 10vh;
}

header div.headerBar input {
  font-size: 20px;
  padding: 0.25rem 3rem 0.25rem 0.5rem;
}

header div.headerBar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  list-style-type: none;
}

header div.headerBar ul li {
  padding: 1rem;
  font-size: 20px;
}

nav {
  width: 100vw;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  background-color: #f9d1f4;
  padding: 0.5rem 1rem;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style-type: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.5rem 5rem;
  padding: 0rem 2rem;
}

nav ul li {
  font-size: 30px;
}

section {
  margin-top: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section div.pic1 {
  position: relative;
}

section div.pic1 span.button1 {
  display: block;
  position: absolute;
  left: 10px;
  bottom: 16px;
  z-index: 1;
}

section div.pic1 span.newCard {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 1;
}

section div.pic1 span.newCard img {
  width: 15vw;
  height: 5vw;
  opacity: 0.6;
}

section div.hot1 {
  position: relative;
}

section div.hot1 span.button2 {
  display: block;
  position: absolute;
  left: 10px;
  bottom: 16px;
  z-index: 1;
}

section div.hot1 span.hotCard {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 1;
}

section div.hot1 span.hotCard img {
  width: 15vw;
  height: 5vw;
  opacity: 0.6;
}

section div.baby1 {
  position: relative;
}

section div.baby1 span.button3 {
  display: block;
  position: absolute;
  left: 10px;
  bottom: 16px;
  z-index: 1;
}

section div.baby1 span.babyCard {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 1;
}

section div.baby1 span.babyCard img {
  width: 15vw;
  height: 5vw;
  opacity: 0.6;
}

section div.coBrand1 {
  position: relative;
}

section div.coBrand1 span.button4 {
  display: block;
  position: absolute;
  left: 10px;
  bottom: 16px;
  z-index: 1;
}

section div.coBrand1 span.coBrandCard {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 1;
}

section div.coBrand1 span.coBrandCard img {
  width: 15vw;
  height: 5vw;
  opacity: 0.6;
}

section button {
  padding: 0.5rem;
  font-size: 15px;
  border: thick double lemonchiffon;
  border-collapse: separate;
  background-color: paleturquoise;
  opacity: 0.8;
  color: black;
  text-align: center;
  cursor: pointer;
}

section img {
  z-index: -1;
  margin: 0.1rem 0rem;
  width: 98vw;
  height: 40vw;
}
