* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

header {
  width: 100vw;
  height: 10vh;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  background-color: #f9d1d1;
}

header div.headerBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 3px solid black;
}

header div.headerBar img {
  width: 10vh;
  height: 10vh;
}

header div.headerBar input {
  font-size: 20px;
  padding: 0.25rem 3rem 0.25rem 0.5rem;
}

header div.headerBar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  list-style-type: none;
}

header div.headerBar ul li {
  padding: 1rem;
  font-size: 20px;
}

header div.nav {
  width: 100vw;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  background-color: #f9d1f4;
  padding: 0.5rem 1rem;
}

header div.nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style-type: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.5rem 5rem;
  padding: 0rem 2rem;
}

header div.nav ul li {
  font-size: 30px;
}

header div.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header div.section span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header div.section span img.New {
  position: relative;
}

header div.section span button.left-button {
  z-index: 1;
  position: absolute;
  bottom: 50vh;
}

header div.section span button.right-button {
  z-index: 1;
  position: absolute;
  right: 2.5vw;
  bottom: 50vh;
}

header div.section img {
  margin: 0.5rem 0rem;
  width: 95vw;
  height: 40vw;
}
